<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="fLJP8Xl60K3i-BeQ2FlZ1IyaHTFwGM3X4PrqlISDELA" />
    <title>Glen Horton{{page.title}}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-6725711-1', 'auto');
      ga('send', 'pageview');

    </script>

  </head>
  <body>
    <header>
      <h1><a href="/">Glen</a></h1>
      <nav>
        <ul>
          <li><a {% if page.title == ' | About' %} class="selected" {% endif %} href="/about">about</a></li>
          <li><a {% if page.title == ' | Presentations' %} class="selected" {% endif %} href="/presentations">presentations</a></li>
          <li><a {% if page.title == ' | Contact' %} class="selected" {% endif %} href="/contact">contact</a></li>
        </ul>
      </nav>
    </header>
    {{content}}
  </body>
</html>
